body {
    padding: 30px;
    margin: 10px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
p {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0cm;
    padding-left: 0cm;
    overflow: hidden;
    background-color: #181823;
    border-radius: 60px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #EFF5F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1F8A70;
    border-radius: 60px;
}

button {
    background-color: #1F8A70;
    border-width: 2px;
    color: white;
    border-radius: 10%;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

li {
    display: inline;
}

#menu {
    background-color: #1F8A70;
    border-radius: 60px;
    font-family: 'Belanosima', sans-serif;
    justify-content: space-between;
}

.subtituloBanner {
    color: #EFF5F5;
    font-size: 4rem;
    font-family: 'Belanosima', sans-serif;
    text-shadow: #181823 4px 4px;
    background-color: #fc7300;
    border-style: solid;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.contenido {
    box-sizing: content-box;
    width: 100%;
    background-color: #EFF5F5;
}

#piePagina {
    font-family: 'Belanosima', sans-serif;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: #181823;
    color: #EFF5F5;
}

#noticias {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    background-color: #EFF5F5;
}

ion-icon {
    color: white;
    font-size: 3rem;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {

    p {
        font-family: 'Poppins', sans-serif;
    }

    ul {
        list-style-type: none;
        margin: 10;
        padding: 0cm;
        padding-left: 0cm;
        overflow: hidden;
        background-color: #181823;
        border-radius: 60px;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #EFF5F5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #1F8A70;
        border-radius: 60px;
    }

    button {
        background-color: #1F8A70;
        border-width: 2px;
        color: white;
        border-radius: 10%;
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    li {
        display: inline;
    }

    #menu {
        background-color: #1F8A70;
        border-radius: 60px;
        font-family: 'Belanosima', sans-serif;
        
    }

    .subtituloBanner {
        color: #EFF5F5;
        font-size: 3rem;
        font-family: 'Belanosima', sans-serif;
        text-shadow: #181823 3px 3px;
        background-color: #fc7300;
        border-style: solid;

        position: absolute;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .contenido {
        box-sizing: content-box;
        width: 100%;
        background-color: #EFF5F5;
    }

    #piePagina {
        font-family: 'Belanosima', sans-serif;
        width: 100%;
        height: 30%;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        background-color: #181823;
        color: #EFF5F5;
    }
    
    #noticias {
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        background-color: #EFF5F5;
    }

    ion-icon {
        color: white;
        font-size: 3rem;
    }
    
}